body {
  margin: 0;
  text-align: center;
}

/*margin: top right bottom left*/
h1 {
  width: 20%;
  margin: 0 auto;
}

p {
  margin-left: 0;
}


.bottom-container {
  background-color: yellow;
  width: 200px;
  height: 200px;
}
.middle-container {
  background-color: red;
  width: 200px;
  height: 200px;
}
.top-container {
  background-color: #e0ebe8;
  position: relative;
  padding-top: 100px;
}

.webs {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 300px;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}
